<div>
    <br>
    <form class="card col-md-7 offset-3">
      <div class="card-header"> Miembro Registro</div>
        <div class="card-body">
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Id de ingreso: </label>
            <input class="form-control col-sm-12 col-md-8" type="number" name="txtidingreso"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Contraseña: </label>
            <input class="form-control col-sm-12 col-md-8" type="number" name="txtcontraseña"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Repita Contraseña: </label>
            <input class="form-control col-sm-12 col-md-8" type="number" name="txtrepitcontra"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">E-mail: </label>
            <input class="form-control col-sm-12 col-md-8" type="text" name="txtemail"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Repita el e-mail: </label>
            <input class="form-control col-sm-12 col-md-8" type="text" name="txtrepitemail"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Lista de Mail: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Si</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">No</label>
              </div>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Nombre / Genero: </label>
            <input class="form-control col-sm-12 col-md-8" type="text" name="txtnomgenero"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Fecha de Nacimiento: </label>
            <input class="form-control col-sm-12 col-md-8" type="date" name="txtfecnacimiento"/>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Pais: </label>
            <select class="form-control col-sm-12 col-md-8">
                <option>Argentina</option>
                <option>Chile</option>
                <option>Uruguay</option>
                <option>Paraguay</option>
                <option>Brasil</option>
                <option>Colombia</option>

              </select>
          </div>
          <div class="row form-group">
            <label class="col-sm-12 col-md-4">Sexo: </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Masculino</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Femenino</label>
              </div>
          </div>

        <div class="row ">
          <div class="col-3"></div>
          <button type="button" class="btn btn-primary col-md-3" >Enviar</button>
          <div class="col-1"></div>
          <button type="button" class="btn btn-primary col-md-3" >Cancelar</button> 
          <div class="col-1"></div>           
        </div>
      </div>
    </form>  
